:root {
  --sonjacodes-brand-color: #F53B9B;
  --sonjacodes-brand-color-secondary: #c1c1c1;
}

.App {
  text-align: center;
}

.App .App-header {
  margin: 50px auto;
}

.App .SonjaCodesLogo {
  height: 20vmin;
  pointer-events: none;
}

.App .App-Container {
  background-color: #fff;
  border-radius: 5px;
  margin: 0 auto;
  min-width: 650px;
  max-width: 960px;
  padding: 20px;
}